@include tablet() {
    .contacts {
        margin-top: 0;
    
        &__content {
            flex-direction: column;
            justify-content: center;
        }

        &__forms {
            margin-top: 48px;
            max-width: 393px;
            width: 100%;
        }

        &__maps {
            margin-top: 56px;
        }
        
    }
}