.testimonials {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 104px;
    background-color: #585B56;
    min-height: 554px;

    &__titles {
        margin-top: 48px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 48px 66px 0;
        max-width: 894px;
        min-height: 168px;
    }

    &__marks {
        width: 48px;
        font-family: var(--font-family-sans);
        font-weight: 500;
        font-size: 84px;
        line-height: 106%;
        letter-spacing: -0.08em;
        color: var(--color-primary-600);
    }

    &__texts {
        margin: 0 16px;
        text-align: center;
    }

    &__text2 {
        margin-top: 25px;
    }

    &__images {
        margin-top: 48px;
        width: 88px;
        height: 119px;
    }

    &__button-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: transparent;
        border: none;
        height: 32px;
        width: 32px;

        &:hover {
            cursor: pointer;
            border: 0.8px solid blue;
            border-radius: 50%;
            box-shadow: 0 0 2px 0 blue;
        }
    }

    &__button-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        height: 32px;
        width: 32px;

        &:hover {
            cursor: pointer;
            border: 0.8px solid blue;
            border-radius: 50%;
            box-shadow: 0 0 2px 0 blue;
        }
    }
}