.header {
  height: 904px;
  background-image: url('../../../images/header/img_placeholder.svg');
  background-size: cover;
  background-position: 50% bottom;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 776px;
    min-height: 344px;
    margin-top: 99px;
  }

  &__title {
    margin-bottom: 16px;
    padding: 8px;
    text-align: center;
  }

  &__text {
    text-align: center;
    padding: 0 135px;
  }

  &__icon {
    width: 37px;
    height: 54px;
    margin-top: 56px;
  }
}


