@include laptop () {
    .location {
        margin-left: 0;
        margin-right: 0;
    }
}

@include tablet () {
    .location {
        &__images {
            max-width: 360px;
            width: 45.5vw;
        }
    }
}

@include modile () {
    .location {
        &__images {
            width: 44vw;

            &_button {
                width: 44vw;
            }
        }
    }
}