@include tablet {
    .navigation {
        &_flex {
            justify-content: center;
            padding: 0 0;
        }

        &__menu_flex {
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: -200px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.516);
            transition: top 1s ease;
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            &_footer_fl {
                align-items: flex-start;
                margin-top: 10px; 
            }
        }

        &__link {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__burger-menu {
            display: block;
        }

        &__socials {
            margin-bottom: 10px;
        }

        &__open {
            top: 0;
        }
    }
}