:root {
    --color-primary-600: #464C43;
    --color-primary-500: #576250;
    --color-primary-400: #90998B;
    --color-primary-300: #B8C1B2;
    --color-primary-200: #CAD1C6;
    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #FAFAFA;
    --color-neutral-20: #D9D9D9;
    --color-neutral-40: #8D8D8D;
    --color-neutral-50: #424242;


    --font-family-switzer-reg: "Switzer-Regular";
    --font-family-switzer-med: "Switzer-Medium";
    --font-family-switzer-sem: "Switzer-Semibold";
    --font-family-sans: "sans-serif";
}

